.pie-mix-holder {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;

    svg {
        path {
            cursor: pointer;
            -moz-transition: fill 0.3s linear 0s;
            -o-transition: fill 0.3s linear 0s;
            -webkit-transition: fill 0.3s linear 0s;
            transition: fill 0.3s linear 0s;
        }

        text {
            fill: #303030;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }

        rect {
            cursor: pointer;
            -moz-transition: fill 0.3s linear 0s;
            -o-transition: fill 0.3s linear 0s;
            -webkit-transition: fill 0.3s linear 0s;
            transition: fill 0.3s linear 0s;
        }

        polyline {
            -moz-transition: stroke-opacity 0.3s linear 0s;
            -o-transition: stroke-opacity 0.3s linear 0s;
            -webkit-transition: stroke-opacity 0.3s linear 0s;
            transition: stroke-opacity 0.3s linear 0s;
        }
    }
}
