<!DOCTYPE html>
<html ng-app="pieMixSample">
<head>
    <title>Pie Mix Sample</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dist/min/css/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/min/css/piemix.min.css" rel="stylesheet" />
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-1.1.1.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <!--<script src="dist/min/js/piemix.min.js"></script>-->
    <script src="resource/piemix.js"></script>
    <script src="resource/piemix-template.js"></script>
    <script src="dist/js/app.js"></script>
</head>
<body ng-controller="piemixCController as sample" style="background:#f0f0f0;">
    <button ng-click="sample.changePie()">Change Data</button>
    <button ng-click="sample.radiusIncrementFactorChnage()">Change radius Increment</button>
    <button ng-click="sample.click('123')">Sample Click</button>
    <button ng-click="sample.sampleHighlight()">Highlight #16A085</button>
    <button ng-click="sample.sampleDehighlight()">Dehighlight #16A085</button>
    <div style="width:100%;height:calc(100vh - 48px);padding:0 30px;overflow:auto;margin:0;" class="col-xs-12">
        <div style="display:block; height:100%;width:100%;margin:15px auto;">
            <pie-mix slices="sample.pieDataSample" config="sample.config" callback-on-click="sample.sliceClick(data)" ></pie-mix>
        </div>
        <div style="display:block; height:80%;width:100%;margin:15px auto;">
            <pie-mix slices="sample.pieDataSample2" config="sample.config2" callback-on-click="sample.sliceClick(data)"></pie-mix>
        </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>